
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  list-style: none;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  --wrapper-green: rgb(41, 170, 245);
  height: 100vh;
  --fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--fonts);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:30px;
  justify-content: center;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


#root,
#__next {
  isolation: isolate;
}


p{
  font-size: 5rem;
}